@page
@model SW4BED_Man_Ass_3.Pages.WaiterModel

@{
    ViewData["Title"] = "Waiter";
}

<h1>Waiter</h1>

<h4>Guest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Roomnumber" class="control-label">Room Number</label>
                <input asp-for="Input.Roomnumber" class="form-control" />
                <span asp-validation-for="Input.Roomnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Adults" class="control-label">Adults</label>
                <input asp-for="Input.Adults" class="form-control" />
                <span asp-validation-for="Input.Adults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Children" class="control-label">Children</label>
                <input asp-for="Input.Children" class="form-control" />
                <span asp-validation-for="Input.Children" class="text-danger"></span>
            </div>
            @*
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GuestRoom." /> @Html.DisplayNameFor(model => model.Guest.hasReserved)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Guest.hasCheckedIn" /> @Html.DisplayNameFor(model => model.Guest.hasCheckedIn)
                </label>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

